{
  "openapi": "3.0.0",
  "info": {
    "title": "SC-Private",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://scstaging.surecritic.com/api"
    },
    {
      "url": "https://www.surecritic.com/api",
      "description": ""
    }
  ],
  "paths": {
    "/businesses.{format}": {
      "get": {
        "summary": "List Method",
        "tags": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "current_page": {
                      "type": "number"
                    },
                    "per_page": {
                      "type": "number"
                    },
                    "total_entries": {
                      "type": "number"
                    },
                    "total_pages": {
                      "type": "number"
                    },
                    "businesses": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "id",
                          "external_id",
                          "name",
                          "state",
                          "review_count",
                          "rating_count",
                          "rating_avg",
                          "recommend_pct",
                          "brp_url",
                          "departments_enabled",
                          "review_reach_enabled"
                        ],
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "external_id": {
                            "type": "string",
                            "minLength": 1
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "state": {
                            "type": "number"
                          },
                          "review_count": {
                            "type": "number"
                          },
                          "rating_count": {
                            "type": "number"
                          },
                          "rating_avg": {
                            "type": "string",
                            "minLength": 1
                          },
                          "recommend_pct": {
                            "type": "string",
                            "minLength": 1
                          },
                          "brp_url": {
                            "type": "string",
                            "minLength": 1
                          },
                          "departments_enabled": {
                            "type": "boolean"
                          },
                          "review_reach_enabled": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "current_page",
                    "per_page",
                    "total_entries",
                    "total_pages",
                    "businesses"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "current_page": 1,
                      "per_page": 100,
                      "total_entries": 10,
                      "total_pages": 1,
                      "businesses": [
                        {
                          "id": 2785,
                          "external_id": "1016861",
                          "name": "Gates Auto Body Alphorn",
                          "state": -2,
                          "review_count": 85,
                          "rating_count": 89,
                          "rating_avg": "4.719101",
                          "recommend_pct": "98.8764",
                          "brp_url": "https://scstaging.surecritic.com/reviews/gates-auto-body-alphorn",
                          "departments_enabled": false,
                          "review_reach_enabled": false
                        },
                        {
                          "id": 3754,
                          "external_id": "238",
                          "name": "Davidson Auto Body 1 Collision Network",
                          "state": -2,
                          "review_count": 31,
                          "rating_count": 31,
                          "rating_avg": "4.8709678",
                          "recommend_pct": "96.77419",
                          "brp_url": "https://scstaging.surecritic.com/reviews/davidson-auto-body-1-collision-network",
                          "departments_enabled": false,
                          "review_reach_enabled": false
                        },
                        {
                          "id": 3755,
                          "external_id": "3013628",
                          "name": "First Choice Collision Center",
                          "state": -2,
                          "review_count": 25,
                          "rating_count": 26,
                          "rating_avg": "4.730769",
                          "recommend_pct": "88.46154",
                          "brp_url": "https://scstaging.surecritic.com/reviews/first-choice-collision-center",
                          "departments_enabled": false,
                          "review_reach_enabled": false
                        },
                        {
                          "id": 2786,
                          "external_id": "3014228",
                          "name": "Marquis Auto Body",
                          "state": -2,
                          "review_count": 220,
                          "rating_count": 222,
                          "rating_avg": "4.963964",
                          "recommend_pct": "100.0",
                          "brp_url": "https://scstaging.surecritic.com/reviews/marquis-auto-body",
                          "departments_enabled": false,
                          "review_reach_enabled": false
                        },
                        {
                          "id": 3807,
                          "external_id": "3950",
                          "name": "Bay Custom Auto",
                          "state": -2,
                          "review_count": 1004,
                          "rating_count": 1014,
                          "rating_avg": "4.7968472",
                          "recommend_pct": "97.83038",
                          "brp_url": "https://scstaging.surecritic.com/reviews/bay-custom-auto",
                          "departments_enabled": false,
                          "review_reach_enabled": false
                        },
                        {
                          "id": 3383,
                          "external_id": "4335",
                          "name": "Prestige Auto Body & Frame",
                          "state": -2,
                          "review_count": 29,
                          "rating_count": 29,
                          "rating_avg": "4.827586",
                          "recommend_pct": "100.0",
                          "brp_url": "https://scstaging.surecritic.com/reviews/prestige-auto-body-and-frame",
                          "departments_enabled": false,
                          "review_reach_enabled": false
                        },
                        {
                          "id": 3833,
                          "external_id": "593",
                          "name": "Perryville CRASH1",
                          "state": -2,
                          "review_count": 10,
                          "rating_count": 10,
                          "rating_avg": "4.6000004",
                          "recommend_pct": "90.0",
                          "brp_url": "https://scstaging.surecritic.com/reviews/perryville-crash1",
                          "departments_enabled": false,
                          "review_reach_enabled": false
                        },
                        {
                          "id": 2609,
                          "external_id": "914191",
                          "name": "Southwest Collision",
                          "state": -2,
                          "review_count": 143,
                          "rating_count": 143,
                          "rating_avg": "4.7762237",
                          "recommend_pct": "98.6014",
                          "brp_url": "https://scstaging.surecritic.com/reviews/southwest-collision",
                          "departments_enabled": false,
                          "review_reach_enabled": false
                        },
                        {
                          "id": 3382,
                          "external_id": "926139",
                          "name": "Custom Body Works",
                          "state": -2,
                          "review_count": 47,
                          "rating_count": 48,
                          "rating_avg": "4.958333",
                          "recommend_pct": "100.0",
                          "brp_url": "https://scstaging.surecritic.com/reviews/custom-body-works",
                          "departments_enabled": false,
                          "review_reach_enabled": false
                        },
                        {
                          "id": 3815,
                          "external_id": "937520",
                          "name": "Polo Collision",
                          "state": -2,
                          "review_count": 15,
                          "rating_count": 15,
                          "rating_avg": "5.0",
                          "recommend_pct": "100.0",
                          "brp_url": "https://scstaging.surecritic.com/reviews/polo-collision",
                          "departments_enabled": false,
                          "review_reach_enabled": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-businesses.",
        "description": "Returns a paged list of businesses controlled by the partner. The API returns up to 30 businesses per request. Results are sorted by external_id.",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "page",
            "description": "The page number for the request. The default page is 1."
          }
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "format",
          "in": "path",
          "required": true,
          "description": "XML or JSON"
        }
      ],
      "post": {
        "summary": "Create-or-Update Method",
        "operationId": "post-businesses.-format",
        "description": "Creates or updates a business. It does this by looking up the business by external_id, if it cannot find that business it creates it. If you would rather an error is returned when a business does not exist, use the Update method.\nAll new businesses are created in a pending state. The corresponding BRP will not be accessible until the business has been activated.",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": " external_id ",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "name",
            "required": true
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "show_hours",
            "description": "a boolean value indicating whether to display a business’ operating hours on their BRP. 1 and 0 can be used for True and False respectively."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "address[line_1]"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "​address[line_2]"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "​address[line_3]"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "address[municipality]",
            "description": "would correspond to City for US-based addresses"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "address[region]",
            "description": "For US, provide the 2-letter state abbreviation"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "address[postcode]",
            "description": "Zip code"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "address[country]",
            "description": "The two letter country code (ISO 3166 Alpha-2)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "website"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "phone"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "email",
            "description": "this is a public email address for contacting the business"
          }
        ]
      }
    },
    "/businesses/{external_id}.{format}": {
      "get": {
        "summary": "Show Method",
        "tags": [],
        "responses": {},
        "operationId": "get-businesses-external_id-.-format",
        "description": "Returns current detailed information for a partner business."
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "external_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier for your business"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "format",
          "in": "path",
          "required": true,
          "description": "XML or JSON"
        }
      ],
      "put": {
        "summary": "Update Method",
        "operationId": "put-businesses-external_id-.-format",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Updates an existing business. Returns an error if the business can not be found."
      },
      "delete": {
        "summary": "Destroy Method",
        "operationId": "delete-businesses-external_id-.-format",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Completely removes a pending business. This method will only work with pending businesses. Once a business has been activated it can only be deactivated, not permanently deleted."
      }
    },
    "/businesses/{external_id}/activate.{format}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "external_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier for your business"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "format",
          "in": "path",
          "required": true,
          "description": "XML or JSON"
        }
      ],
      "put": {
        "summary": "Activate Method",
        "operationId": "put-businesses-external_id-activate.-format",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Activate a pending or deactivated business."
      }
    },
    "/businesses/{external_id}/deactivate.{format}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "external_id",
          "in": "path",
          "required": true,
          "description": "Unique identifier for your business"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "format",
          "in": "path",
          "required": true,
          "description": "XML or JSON"
        }
      ],
      "put": {
        "summary": "Deactivate Method",
        "operationId": "put-businesses-external_id-deactivate.-format",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Deactivate an active business."
      }
    }
  },
  "components": {
    "schemas": {
      "Business": {
        "description": "",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "external_id": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "state": {
            "type": "integer"
          },
          "rating_avg": {
            "type": "number"
          },
          "recommend_pct": {
            "type": "number"
          },
          "brp_url": {
            "type": "string",
            "minLength": 1
          },
          "show_hours": {
            "type": "boolean"
          },
          "address": {
            "type": "object",
            "properties": {
              "line_1": {
                "type": "string",
                "minLength": 1
              },
              "municipality": {
                "type": "string",
                "minLength": 1
              },
              "postcode": {
                "type": "string",
                "minLength": 1
              },
              "region": {
                "type": "string",
                "minLength": 1
              },
              "latitude": {
                "type": "number",
                "format": "float"
              },
              "longitude": {
                "type": "number"
              },
              "line_2": {
                "type": "string"
              },
              "line_3": {
                "type": "string"
              },
              "country": {
                "type": "string"
              }
            }
          },
          "phone": {
            "type": "string",
            "minLength": 1
          },
          "website": {
            "type": "string",
            "minLength": 1
          },
          "email_address": {
            "type": "string",
            "minLength": 1
          },
          "about": {
            "type": "string",
            "minLength": 1
          },
          "category_1": {
            "type": "integer"
          },
          "category_2": {
            "type": "integer"
          },
          "category_3": {
            "type": "integer"
          }
        },
        "required": [
          "external_id",
          "name",
          "website",
          "email_address",
          "about",
          "category_1"
        ],
        "x-examples": {
          "Cory's Magic Carpets": {
            "id": 0,
            "external_id": "string",
            "name": "string",
            "state": 0,
            "rating_avg": 0,
            "recommend_pct": 0,
            "brp_url": "string",
            "show_hours": true,
            "address": {
              "line_1": "string",
              "municipality": "string",
              "postcode": "string",
              "region": "string",
              "latitude": 0,
              "longitude": 0,
              "line_2": "string",
              "line_3": "string",
              "country": "string"
            },
            "phone": "string",
            "website": "string",
            "email_address": "string",
            "about": "string",
            "category_1": 0,
            "category_2": 0,
            "category_3": 0
          }
        }
      }
    },
    "securitySchemes": {
      "API Key": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      }
    }
  },
  "security": [
    {
      "API Key": []
    }
  ]
}